In [216]:
try:
    import mlxtend

    # Si mlxtend est déjà installé
    print("MLxtend est déjà installé (version {})".format(mlxtend.__version__))

except ImportError:
    # Si mlxtend n'est pas installé, installez-le
    !pip install mlxtend
    print("MLxtend a été installé avec succès.")

MLxtend est déjà installé (version 0.23.0)

In [217]:
import pandas as pd
import numpy as np
import plotly.express as px
import scipy.stats as stats
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [218]:
# Charger les données depuis un fichier CSV
file_path = "./data/clean_dataset_googleplaystore_cat_str.csv"
df = pd.read_csv(file_path)

# Sélectionner les colonnes pertinentes
selected_columns = ["GenrePrincipal", "GenreSecondaire", "Installs"]
data = df[selected_columns].values.tolist()

# Convertir les données en format adapté pour l'algorithme Apriori
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Appliquer l'algorithme Apriori pour obtenir les itemsets fréquents
supports = apriori(df_encoded, min_support=0.1, max_len=3, use_colnames=True)

# Afficher les itemsets fréquents
print(supports)
supports.head()

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
df = pd.read_csv("data/clean_dataset_googleplaystore_cat_str.csv")
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Price,Content Rating,GenrePrincipal,Last Updated,GenreSecondaire
0,Photo Editor & Candy Camera & Grid & ScrapBook,0,4.1,159,19000000,10000,0.0,0,0,2018-01-07,0
1,Coloring book moana,0,3.9,967,14000000,500000,0.0,0,0,2018-01-15,1

In [ ]:
df_no_duplicates = df.drop_duplicates(subset=['GenrePrincipal', 'App'])
pivoted = df_no_duplicates.pivot(index='GenrePrincipal', columns='App', values='Installs')

#pivoted=pivoted.notnull().astype("int")
pivoted = pivoted.fillna(0).astype(int)

pivoted.head(2)

# Utilisez la méthode filter pour trouver la colonne correspondante
colonne_app = pivoted.filter(like="Coloring book moana", axis=1)

# Affichez la colonne résultante
print(colonne_app)

App             Coloring book moana
GenrePrincipal
0                            500000
1                                 0
2                                 0
3                                 0
4                                 0
5                                 0
6                                 0
7                                 0
8                                 0
9                                 0
10                                0
11                                0
12                                0
13                                0
14                                0
15                                0
16                                0
17                                0
18                                0
19                                0
20                                0
21                                0
22                                0
23                                0
24                                0
25                                0
26                                0
27                                0
28                                0
29                                0
30                                0
31                                0
32                                0
33                                0
34                                0
35                                0
36                                0
37                                0
38                                0
39                                0
40                                0
41                                0
42                                0
43                                0
44                                0
45                                0
46                                0
47                                0

In [ ]:
supports = apriori(pivoted, min_support=0.1,max_len=3, use_colnames=True)

d:\Programmes\Python\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value 10000

In [ ]:
supports.sort_values(by="support", ascending=False).head(10)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [ ]:
selected_columns = ["GenrePrincipal", "Installs"]
data = df[selected_columns].values.tolist()

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [ ]:
# Appliquer l'algorithme Apriori pour obtenir les itemsets fréquents
supports = apriori(df_encoded, min_support=0.1, use_colnames=True)

# Afficher les itemsets fréquents
print(supports)

supports.sort_values(by="support", ascending=False).head(10)

    support   itemsets
0  0.110552    (10000)
1  0.115254   (100000)
2  0.142482  (1000000)

    support   itemsets
2  0.142482  (1000000)
1  0.115254   (100000)
0  0.110552    (10000)

In [ ]:
df_aggregated = df.groupby(['GenrePrincipal', 'App'])['Installs'].sum().reset_index()
pivoted = df_aggregated.pivot(index='GenrePrincipal', columns='App', values='Installs')
pivoted = pivoted.notnull().astype("int")

pivoted.head(4)

App,"""i DT"" Fútbol. Todos Somos Técnicos.",+Download 4 Instagram Twitter,- Free Comics - Comic Apps,.R,/u/app,058.ba,1. FC Köln App,10 Best Foods for You,10 Minutes a Day Times Tables,10 WPM Amateur ham radio CW Morse code trainer,...,"乐屋网: Buying a house, selling a house, renting a house",哈哈姆特不EY,日本AV历史,"漫咖 Comics - Manga,Novel and Stories",감성학원 BL 첫사랑,"뽕티비 - 개인방송, 인터넷방송, BJ방송",💎 I'm rich,"💘 WhatsLov: Smileys of love, stickers and GIF",📏 Smart Ruler ↔️ cm/inch measuring for homework!,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍
GenrePrincipal,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
supports = apriori(pivoted, min_support=0.1,max_len=2, use_colnames=True)

d:\Programmes\Python\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
supports.sort_values(by="support", ascending=False).head(10)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [ ]:
df = pd.read_csv("data/clean_dataset_googleplaystore_cat_str.csv")
df.head(2)

# #Check the type of the 'Installs' column
# print(df['Installs'].dtypes) #: type is int64

# #installs is int64, check the values of the column (single value) sort them by ascending order
# print(df['Installs'].sort_values(ascending=True).unique())

#if the value is greater than 10000000 replace it by 1, else replace it by 0
df['Installs'] = df['Installs'].apply(lambda x: 1 if x > 10000000 else 0)

#installs is int64, check the values of the column (single value) sort them by ascending order
# print(df['Installs'].sort_values(ascending=True).unique())

df_no_duplicates = df.drop_duplicates(subset=['GenrePrincipal', 'GenreSecondaire'])
pivoted = df_no_duplicates.pivot(index='GenrePrincipal', columns='GenreSecondaire', values='Installs')

# print the type of the 'coloring book moana' row of the pivoted dataframe
# print(type(pivoted.loc['Coloring book moana']))
# print(type(pivoted['Coloring book moana']))
pivoted=pivoted.notnull().astype("int")
# pivoted = pivoted.iloc[:, 2:] = (pivoted.iloc[:, 2:] > 50000).astype(int)
# pivoted = pivoted.fillna(0).astype(int)

pivoted

# # Utilisez la méthode filter pour trouver la colonne correspondante
# colonne_app = pivoted.filter(like="0", axis=1)

# # Affichez la colonne résultante
# print(colonne_app)

# print line of pivoted dataframe with app name
# print(pivoted.loc['Coloring book moana'])

GenreSecondaire,NaN,Action & Adventure,Brain Games,Creativity,Education,Music & Video,Pretend Play
GenrePrincipal,,,,,,,
Action,1,1,0,0,0,0,0
Adventure,1,1,1,0,1,0,0
Arcade,1,1,0,0,0,0,1
Art & Design,1,1,0,1,0,0,1
Auto & Vehicles,1,0,0,0,0,0,0
Beauty,1,0,0,0,0,0,0
Board,1,1,1,0,0,0,1
Books & Reference,1,0,0,1,1,0,0
Business,1,0,0,0,0,0,0
Card,1,1,1,0,0,0,0
Casino,1,0,0,0,0,0,0
Casual,1,1,1,1,1,1,1
Comics,1,0,0,1,0,0,0
Communication,1,0,0,0,0,0,0
Dating,1,0,0,0,0,0,0
Education,1,1,1,1,1,1,1
Educational,1,1,1,1,1,0,1
Entertainment,1,1,1,1,1,1,1
Events,1,0,0,0,0,0,0
Finance,1,0,0,0,0,0,0
Food & Drink,1,0,0,0,0,0,0
Health & Fitness,1,1,0,0,1,0,0
House & Home,1,0,0,0,0,0,0
Libraries & Demo,1,0,0,0,0,0,0
Lifestyle,1,0,0,0,0,0,1
Maps & Navigation,1,0,0,0,0,0,0
Medical,1,0,0,0,0,0,0
Music,1,0,0,0,0,1,0
Music & Audio,0,0,0,0,0,1,0
News & Magazines,1,0,0,0,0,0,0
Parenting,1,0,1,0,1,1,0
Personalization,1,0,0,0,0,0,0
Photography,1,0,0,0,0,0,0
Productivity,1,0,0,0,0,0,0
Puzzle,1,1,1,1,1,0,0
Racing,1,1,0,0,0,0,1
Role Playing,1,1,1,0,1,0,1
Shopping,1,0,0,0,0,0,0
Simulation,1,1,0,0,1,0,1
Social,1,0,0,0,0,0,0
Sports,1,1,0,0,0,0,0
Strategy,1,1,0,1,1,0,0
Tools,1,0,0,0,0,0,0
Travel & Local,1,1,0,0,0,0,0
Trivia,1,0,0,0,1,0,0
Video Players & Editors,1,0,0,1,0,1,0
Weather,1,0,0,0,0,0,0
Word,1,0,0,0,0,0,0

In [ ]:
supports = apriori(pivoted, min_support=0.1,max_len=3, use_colnames=True)

d:\Programmes\Python\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
supports.sort_values(by="support", ascending=False).head(10)

     support                                 itemsets
0   0.979167                                    (nan)
1   0.375000                     (Action & Adventure)
7   0.375000                (nan, Action & Adventure)
10  0.270833                         (nan, Education)
4   0.270833                              (Education)
6   0.229167                           (Pretend Play)
12  0.229167                      (nan, Pretend Play)
26  0.208333  (nan, Pretend Play, Action & Adventure)
16  0.208333       (Pretend Play, Action & Adventure)
15  0.208333          (Education, Action & Adventure)

In [ ]:
supports["len"] = supports["itemsets"].apply(lambda x: len(x))

In [ ]:
pd.set_option("display.max_colwidth", None)
supports[supports["len"]==2].sort_values(by="support", ascending=False).head(10)

     support                            itemsets  len
7   0.375000           (nan, Action & Adventure)    2
10  0.270833                    (nan, Education)    2
12  0.229167                 (nan, Pretend Play)    2
8   0.208333                  (nan, Brain Games)    2
9   0.208333                   (nan, Creativity)    2
15  0.208333     (Education, Action & Adventure)    2
16  0.208333  (Pretend Play, Action & Adventure)    2
13  0.187500   (Brain Games, Action & Adventure)    2
18  0.166667            (Brain Games, Education)    2
14  0.145833    (Action & Adventure, Creativity)    2

In [ ]:
df = pd.read_csv("data/clean_dataset_googleplaystore_cat_str.csv")
df.head(2)

# Je veux créer un dataframe sur lequel je vais appliquer l'algorithme Apriori. Pour cela je souhaite
# avoir une ligne par application et difféntes colonnes : price, rating, revies, installs.
# Dans la colonne price, je souhaite avoir 1 si l'application est gratuite, 0 sinon.
# Dans la colonne rating, je souhaite avoir 1 si l'application a une note supérieure à 4.5, 0 sinon.
# Dans la colonne reviews, je souhaite avoir 1 si l'application a plus de 100000 reviews, 0 sinon.
# Dans la colonne installs, je souhaite avoir 1 si l'application a plus de 10000000 installs, 0 sinon.
# Code ce dataframe dans la variable df_apriori

df_apriori = df.copy()
df_apriori["Price"] = df_apriori["Price"].apply(lambda x: 1 if x == 0 else 0)
df_apriori["Rating"] = df_apriori["Rating"].apply(lambda x: 1 if x > 4.5 else 0)
df_apriori["Reviews"] = df_apriori["Reviews"].apply(lambda x: 1 if x > 100000 else 0)
# df_apriori["installs"] = df_apriori["Installs"].apply(lambda x: 1 if x > 10000000 else 0)
# Ajouter les colonnes genre principal et genre secondaire avec comme valeur 1 pour l'indice du tableau qui est le bon genre    
df_apriori = pd.concat([df_apriori, pd.get_dummies(df_apriori["GenrePrincipal"])], axis=1)
df_apriori = pd.concat([df_apriori, pd.get_dummies(df_apriori["GenreSecondaire"])], axis=1)
df_apriori = df_apriori[["App", "Price", "Rating", "Reviews", "GenrePrincipal", "GenreSecondaire", "Installs"]]

# Séparer les genres principaux et secondaires en colonnes, chaque genre devient une colonne et le nom de cette colonne est la concaténation
# de son nom et de 1 s'il est dans le genre principal ou 2 s'il est dans le genre secondaire. Comme valeur à l'intérieur de la colonne, on met 1
# si l'application est dans ce genre, 0 sinon.
df_apriori["GenrePrincipal"] = df_apriori["GenrePrincipal"].astype(str) + "1"
df_apriori["GenreSecondaire"] = df_apriori["GenreSecondaire"].astype(str) + "2"
#Séparer les genres principaux et secondaires en colonnes de type int64
df_apriori = pd.concat([df_apriori, pd.get_dummies(df_apriori["GenrePrincipal"])], axis=1)
df_apriori = pd.concat([df_apriori, pd.get_dummies(df_apriori["GenreSecondaire"])], axis=1)

# Si une colonne à le type uint8, on la convertit en int64
for column in df_apriori.columns:
    if df_apriori[column].dtype == "uint8":
        df_apriori[column] = df_apriori[column].astype("int64")

#On vire les colonnes genre principal et genre secondaire
# df_apriori = df_apriori.drop(columns=["GenrePrincipal", "GenreSecondaire"])

df_apriori.info()

# Enlever les lignes où installs n'est pas à 1
# df_apriori = df_apriori[df_apriori["Installs"] == 1]

df_apriori.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9145 entries, 0 to 9144
Data columns (total 62 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   App                       9145 non-null   object
 1   Price                     9145 non-null   int64
 2   Rating                    9145 non-null   int64
 3   Reviews                   9145 non-null   int64
 4   GenrePrincipal            9145 non-null   object
 5   GenreSecondaire           9145 non-null   object
 6   Installs                  9145 non-null   int64
 7   Action1                   9145 non-null   int64
 8   Adventure1                9145 non-null   int64
 9   Arcade1                   9145 non-null   int64
 10  Art & Design1             9145 non-null   int64
 11  Auto & Vehicles1          9145 non-null   int64
 12  Beauty1                   9145 non-null   int64
 13  Board1                    9145 non-null   int64
 14  Books & Reference1        9145 non-null   int64
 15  Business1                 9145 non-null   int64
 16  Card1                     9145 non-null   int64
 17  Casino1                   9145 non-null   int64
 18  Casual1                   9145 non-null   int64
 19  Comics1                   9145 non-null   int64
 20  Communication1            9145 non-null   int64
 21  Dating1                   9145 non-null   int64
 22  Education1                9145 non-null   int64
 23  Educational1              9145 non-null   int64
 24  Entertainment1            9145 non-null   int64
 25  Events1                   9145 non-null   int64
 26  Finance1                  9145 non-null   int64
 27  Food & Drink1             9145 non-null   int64
 28  Health & Fitness1         9145 non-null   int64
 29  House & Home1             9145 non-null   int64
 30  Libraries & Demo1         9145 non-null   int64
 31  Lifestyle1                9145 non-null   int64
 32  Maps & Navigation1        9145 non-null   int64
 33  Medical1                  9145 non-null   int64
 34  Music & Audio1            9145 non-null   int64
 35  Music1                    9145 non-null   int64
 36  News & Magazines1         9145 non-null   int64
 37  Parenting1                9145 non-null   int64
 38  Personalization1          9145 non-null   int64
 39  Photography1              9145 non-null   int64
 40  Productivity1             9145 non-null   int64
 41  Puzzle1                   9145 non-null   int64
 42  Racing1                   9145 non-null   int64
 43  Role Playing1             9145 non-null   int64
 44  Shopping1                 9145 non-null   int64
 45  Simulation1               9145 non-null   int64
 46  Social1                   9145 non-null   int64
 47  Sports1                   9145 non-null   int64
 48  Strategy1                 9145 non-null   int64
 49  Tools1                    9145 non-null   int64
 50  Travel & Local1           9145 non-null   int64
 51  Trivia1                   9145 non-null   int64
 52  Video Players & Editors1  9145 non-null   int64
 53  Weather1                  9145 non-null   int64
 54  Word1                     9145 non-null   int64
 55  Action & Adventure2       9145 non-null   int64
 56  Brain Games2              9145 non-null   int64
 57  Creativity2               9145 non-null   int64
 58  Education2                9145 non-null   int64
 59  Music & Video2            9145 non-null   int64
 60  Pretend Play2             9145 non-null   int64
 61  nan2                      9145 non-null   int64
dtypes: int64(59), object(3)
memory usage: 4.3+ MB

,App,Price,Rating,Reviews,GenrePrincipal,GenreSecondaire,Installs,Action1,Adventure1,Arcade1,...,Video Players & Editors1,Weather1,Word1,Action & Adventure2,Brain Games2,Creativity2,Education2,Music & Video2,Pretend Play2,nan2
0,Photo Editor & Candy Camera & Grid & ScrapBook,1,0,0,Art & Design1,nan2,10000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Coloring book moana,1,0,0,Art & Design1,Pretend Play2,500000,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Exclure des colonnes
excluded_columns = ["App", "Installs", "Reviews", "GenrePrincipal", "GenreSecondaire"]
pivoted = df_apriori.pivot_table(index='App', columns='Installs', values=[col for col in df_apriori.columns if col not in excluded_columns], aggfunc='mean')

# Créer la liste des colonnes sélectionnées
selected_columns = [col for col in df_apriori.columns if col not in excluded_columns]

# Afficher la liste des colonnes sélectionnées
print(selected_columns)
pivoted = pivoted.fillna(0)
pivoted = pivoted.astype(int)

pivoted.head()

['Price', 'Rating', 'Action1', 'Adventure1', 'Arcade1', 'Art & Design1', 'Auto & Vehicles1', 'Beauty1', 'Board1', 'Books & Reference1', 'Business1', 'Card1', 'Casino1', 'Casual1', 'Comics1', 'Communication1', 'Dating1', 'Education1', 'Educational1', 'Entertainment1', 'Events1', 'Finance1', 'Food & Drink1', 'Health & Fitness1', 'House & Home1', 'Libraries & Demo1', 'Lifestyle1', 'Maps & Navigation1', 'Medical1', 'Music & Audio1', 'Music1', 'News & Magazines1', 'Parenting1', 'Personalization1', 'Photography1', 'Productivity1', 'Puzzle1', 'Racing1', 'Role Playing1', 'Shopping1', 'Simulation1', 'Social1', 'Sports1', 'Strategy1', 'Tools1', 'Travel & Local1', 'Trivia1', 'Video Players & Editors1', 'Weather1', 'Word1', 'Action & Adventure2', 'Brain Games2', 'Creativity2', 'Education2', 'Music & Video2', 'Pretend Play2', 'nan2']

                                     Action & Adventure2             \
Installs                                      0          1
App
"i DT" Fútbol. Todos Somos Técnicos.                   0          0
+Download 4 Instagram Twitter                          0          0
- Free Comics - Comic Apps                             0          0
.R                                                     0          0
/u/app                                                 0          0

                                                                       \
Installs                             5          10         50
App
"i DT" Fútbol. Todos Somos Técnicos.          0          0          0
+Download 4 Instagram Twitter                 0          0          0
- Free Comics - Comic Apps                    0          0          0
.R                                            0          0          0
/u/app                                        0          0          0

                                                                       \
Installs                             100        500        1000
App
"i DT" Fútbol. Todos Somos Técnicos.          0          0          0
+Download 4 Instagram Twitter                 0          0          0
- Free Comics - Comic Apps                    0          0          0
.R                                            0          0          0
/u/app                                        0          0          0

                                                            ...       nan2  \
Installs                             5000       10000       ... 50000
App                                                         ...
"i DT" Fútbol. Todos Somos Técnicos.          0          0  ...          0
+Download 4 Instagram Twitter                 0          0  ...          0
- Free Comics - Comic Apps                    0          0  ...          0
.R                                            0          0  ...          0
/u/app                                        0          0  ...          0

                                                                       \
Installs                             100000     500000     1000000
App
"i DT" Fútbol. Todos Somos Técnicos.          0          0          0
+Download 4 Instagram Twitter                 0          0          1
- Free Comics - Comic Apps                    0          0          0
.R                                            0          0          0
/u/app                                        0          0          0

                                                                       \
Installs                             5000000    10000000   50000000
App
"i DT" Fútbol. Todos Somos Técnicos.          0          0          0
+Download 4 Instagram Twitter                 0          0          0
- Free Comics - Comic Apps                    0          0          0
.R                                            0          0          0
/u/app                                        0          0          0


Installs                             100000000  500000000  1000000000
App
"i DT" Fútbol. Todos Somos Técnicos.          0          0          0
+Download 4 Instagram Twitter                 0          0          0
- Free Comics - Comic Apps                    0          0          0
.R                                            0          0          0
/u/app                                        0          0          0

[5 rows x 1140 columns]

In [ ]:
supports = apriori(pivoted, min_support=0.005,max_len=3, use_colnames=True)

d:\Programmes\Python\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
supports.sort_values(by="support", ascending=False).head()

      support                             itemsets
34   0.137657                   ((Price, 1000000))
73   0.128527                    ((nan2, 1000000))
143  0.126630  ((nan2, 1000000), (Price, 1000000))
69   0.114062                      ((nan2, 10000))
71   0.114062                     ((nan2, 100000))

In [ ]:
supports["len"] = supports["itemsets"].apply(lambda x: len(x))
pd.set_option("display.max_colwidth", None)
supports[supports["len"]==2].sort_values(by="support", ascending=False).head(10)

      support                               itemsets  len
143  0.126630    ((nan2, 1000000), (Price, 1000000))    2
136  0.107897      ((nan2, 100000), (Price, 100000))    2
130  0.103628        ((Price, 10000), (nan2, 10000))    2
125  0.085843          ((Price, 1000), (nan2, 1000))    2
120  0.071259            ((Price, 100), (nan2, 100))    2
148  0.071022  ((Price, 10000000), (nan2, 10000000))    2
138  0.050273      ((Price, 500000), (nan2, 500000))    2
145  0.049443    ((nan2, 5000000), (Price, 5000000))    2
133  0.046479        ((Price, 50000), (nan2, 50000))    2
127  0.046360          ((Price, 5000), (nan2, 5000))    2

In [ ]:
# compute association rules
rules = association_rules(supports, min_threshold=0.5)
rules.head(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"((Action1, 1000000))","((Price, 1000000))",0.006284,0.137657,0.005573,0.886792,6.442039,0.004708,7.617362,0.850112
1,"((Action1, 1000000))","((nan2, 1000000))",0.006284,0.128527,0.005928,0.943396,7.340040,0.005121,15.396016,0.869223

In [ ]:
rules.sort_values(by="lift", ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
38,"((Price, 1))","((nan2, 1))",0.005336,0.007470,0.005217,0.977778,130.898060,0.005177,44.663861,0.997684
37,"((nan2, 1))","((Price, 1))",0.007470,0.005336,0.005217,0.698413,130.898060,0.005177,3.298098,0.999829
39,"((Price, 5))","((nan2, 5))",0.007825,0.009248,0.007825,1.000000,108.128205,0.007753,inf,0.998566
40,"((nan2, 5))","((Price, 5))",0.009248,0.007825,0.007825,0.846154,108.128205,0.007753,6.449134,1.000000
88,"((Price, 100000000))","((nan2, 100000000))",0.011382,0.011145,0.011145,0.979167,87.854167,0.011019,47.465023,1.000000
89,"((nan2, 100000000))","((Price, 100000000))",0.011145,0.011382,0.011145,1.000000,87.854167,0.011019,inf,0.999760
86,"((Price, 50000000))","((nan2, 50000000))",0.013280,0.012687,0.012687,0.955357,75.303571,0.012518,22.115817,1.000000
87,"((nan2, 50000000))","((Price, 50000000))",0.012687,0.013280,0.012687,1.000000,75.303571,0.012518,inf,0.999400
44,"((nan2, 50))","((Price, 50))",0.023476,0.019801,0.019801,0.843434,42.595960,0.019336,6.260627,1.000000
43,"((Price, 50))","((nan2, 50))",0.019801,0.023476,0.019801,1.000000,42.595960,0.019336,inf,0.996250