In [5]:
import pandas as pd
import sklearn
import numpy as np

df = pd.read_csv("googleplaystore.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### Analyse des caractéristiques des app

a première vue, il n'y a qu'une colonne qui contient des données numériques. L'idée est donc de vérifier quelles colonnes il serait possible de tranformer en données numériques afin d'avoir plus de matière pour les analyses suivantes

#### Size

In [6]:
df["Size"]

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10841, dtype: object

Dans le cas présent, Size est un objet, qui pourrait être converti en une valeur numérique

#### Category

In [7]:
df["Category"]

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

Category, pourrait être convertie en données numériques, par ex 1 pour ART_AND_DESIGN, 2 pour FAMILLY etc

#### Reviews

In [8]:
df["Reviews"]

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

Reviews correspond au nombre de reviews, il faut donc le convertir en valeur numérique

#### Installs

In [9]:
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

Correspond au nombre d'installations (ordre de grandeur)
Il suffit d'enlever le +

#### Type (abandonnée)

In [10]:
df['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

Semble correspondre au type de l'aplication (payante ou non). Peut etre convertie en valeur booleenne permettant de determiner si une app est payante ou non, mais ne sert a rien car l'info est déja dans Price

#### Price

In [11]:
df["Price"].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

Valeur numérique, il faut enlever le symbole $

#### Content Rating

In [12]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

on peut transformer tout ca en une valeur numérique

#### Genres

In [13]:
df["Genres"].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'February 11, 2018', 'Strategy;Creativity'], dtype=object)

contient trop d'informations, a séparer en deux colonnes qui peuvent etre converties en valeurs numériques (1 par genre)

#### Last Updated

In [14]:
df["Last Updated"].unique()

array(['January 7, 2018', 'January 15, 2018', 'August 1, 2018', ...,
       'January 20, 2014', 'February 16, 2014', 'March 23, 2014'],
      dtype=object)

a transformer en format date

#### Current Ver

In [15]:
df["Current Ver"].unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.0.612928', '0.3.4', '2.0.148.0'],
      dtype=object)

abandon de colonne car trop de valeurs différentes + un manque de règle entourant le numéro de version qui implique que cela ne veut rien dire

#### Android Ver (abandon)

In [16]:
from pprint import pprint
pprint(df["Android Ver"].unique())
print(df["Android Ver"].isna().sum())
print(df["Android Ver"].isnull().sum())

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)
3
3

ne sert a rien car trop de lignes a enlever, on peut se baser sur la colonne "last updated" pour savoir si une app est maintenue ou pas

# Conversion des colonnes au format numérique

In [17]:
def col_to_num(col):
  '''
  Fonction permettant de convertir une colonne au format numérique
  '''
  df[col] = pd.to_numeric(df[col], errors="coerce")
  print(df[col])

#### Colonne "Size"

In [18]:
print(df["Size"].unique())

['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Varies with device'
 '9.4M' '15M' '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M'
 '201k' '3.6M' '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M'
 '3.9M' '2.9M' '38M' '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M'
 '9.0M' '6.7M' '30M' '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M'
 '8.2M' '9.9M' '4.9M' '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M'
 '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M'
 '7.5M' '51M' '41M' '48M' '8.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M'
 '7.8M' '8.8M' '6.6M' '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k'
 '1.6M' '6.2M' '18k' '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M'
 '49M' '77M' '4.4M' '4.8M' '70M' '6.9M' '9.3M' '10.0M' '8.1M' '36M' '84M'
 '97M' '2.0M' '1.9M' '1.8M' '5.3M' '47M' '556k' '526k' '76M' '7.6M' '59M'
 '9.7M' '78M' '72M' '43M' '7.7M' '6.3M' '334k' '34M' '93M' '65M' '79M'
 '100M' '58M' '50M' '68M' '64M' '67M' '60M' '94M' '232k' '99M' '624k'
 '95M' '8.5k' '41k' '292k' '11k' '80M' '1.7M' '74M' '62M' '69M' '75M'
 '98M' '85M' '82M' '96M' '87M' '71M' '86M' '91M' '81M' '92M' '83M' '88M'
 '704k' '862k' '899k' '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M'
 '89M' '696k' '544k' '525k' '920k' '779k' '853k' '720k' '713k' '772k'
 '318k' '58k' '241k' '196k' '857k' '51k' '953k' '865k' '251k' '930k'
 '540k' '313k' '746k' '203k' '26k' '314k' '239k' '371k' '220k' '730k'
 '756k' '91k' '293k' '17k' '74k' '14k' '317k' '78k' '924k' '902k' '818k'
 '81k' '939k' '169k' '45k' '475k' '965k' '90M' '545k' '61k' '283k' '655k'
 '714k' '93k' '872k' '121k' '322k' '1.0M' '976k' '172k' '238k' '549k'
 '206k' '954k' '444k' '717k' '210k' '609k' '308k' '705k' '306k' '904k'
 '473k' '175k' '350k' '383k' '454k' '421k' '70k' '812k' '442k' '842k'
 '417k' '412k' '459k' '478k' '335k' '782k' '721k' '430k' '429k' '192k'
 '200k' '460k' '728k' '496k' '816k' '414k' '506k' '887k' '613k' '243k'
 '569k' '778k' '683k' '592k' '319k' '186k' '840k' '647k' '191k' '373k'
 '437k' '598k' '716k' '585k' '982k' '222k' '219k' '55k' '948k' '323k'
 '691k' '511k' '951k' '963k' '25k' '554k' '351k' '27k' '82k' '208k' '913k'
 '514k' '551k' '29k' '103k' '898k' '743k' '116k' '153k' '209k' '353k'
 '499k' '173k' '597k' '809k' '122k' '411k' '400k' '801k' '787k' '237k'
 '50k' '643k' '986k' '97k' '516k' '837k' '780k' '961k' '269k' '20k' '498k'
 '600k' '749k' '642k' '881k' '72k' '656k' '601k' '221k' '228k' '108k'
 '940k' '176k' '33k' '663k' '34k' '942k' '259k' '164k' '458k' '245k'
 '629k' '28k' '288k' '775k' '785k' '636k' '916k' '994k' '309k' '485k'
 '914k' '903k' '608k' '500k' '54k' '562k' '847k' '957k' '688k' '811k'
 '270k' '48k' '329k' '523k' '921k' '874k' '981k' '784k' '280k' '24k'
 '518k' '754k' '892k' '154k' '860k' '364k' '387k' '626k' '161k' '879k'
 '39k' '970k' '170k' '141k' '160k' '144k' '143k' '190k' '376k' '193k'
 '246k' '73k' '658k' '992k' '253k' '420k' '404k' '1,000+' '470k' '226k'
 '240k' '89k' '234k' '257k' '861k' '467k' '157k' '44k' '676k' '67k' '552k'
 '885k' '1020k' '582k' '619k']

In [19]:
# Supprime les lignes où les valeurs sont pas interprétables (1,000+ et Varies with device)
df = df.drop(df[df["Size"].str.contains('\+', regex=True)].index)
df = df.drop(df[df["Size"].str.contains('Varies', regex=True)].index)
print(df["Size"].unique())
df.info()

['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' '9.4M' '15M' '10M' '1.2M'
 '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M' '201k' '3.6M' '5.7M' '8.6M'
 '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M' '3.9M' '2.9M' '38M' '32M' '5.4M'
 '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M' '9.0M' '6.7M' '30M' '2.6M' '7.1M'
 '3.7M' '22M' '7.4M' '6.4M' '3.2M' '8.2M' '9.9M' '4.9M' '9.5M' '5.0M'
 '5.9M' '13M' '73M' '6.8M' '3.5M' '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M'
 '9.1M' '55M' '23k' '6.5M' '1.5M' '7.5M' '51M' '41M' '48M' '8.5M' '46M'
 '8.3M' '4.3M' '4.7M' '3.3M' '40M' '7.8M' '8.8M' '6.6M' '5.1M' '61M' '66M'
 '79k' '8.4M' '118k' '44M' '695k' '1.6M' '6.2M' '18k' '53M' '1.4M' '3.0M'
 '5.8M' '3.8M' '9.6M' '45M' '63M' '49M' '77M' '4.4M' '4.8M' '70M' '6.9M'
 '9.3M' '10.0M' '8.1M' '36M' '84M' '97M' '2.0M' '1.9M' '1.8M' '5.3M' '47M'
 '556k' '526k' '76M' '7.6M' '59M' '9.7M' '78M' '72M' '43M' '7.7M' '6.3M'
 '334k' '34M' '93M' '65M' '79M' '100M' '58M' '50M' '68M' '64M' '67M' '60M'
 '94M' '232k' '99M' '624k' '95M' '8.5k' '41k' '292k' '11k' '80M' '1.7M'
 '74M' '62M' '69M' '75M' '98M' '85M' '82M' '96M' '87M' '71M' '86M' '91M'
 '81M' '92M' '83M' '88M' '704k' '862k' '899k' '378k' '266k' '375k' '1.3M'
 '975k' '980k' '4.1M' '89M' '696k' '544k' '525k' '920k' '779k' '853k'
 '720k' '713k' '772k' '318k' '58k' '241k' '196k' '857k' '51k' '953k'
 '865k' '251k' '930k' '540k' '313k' '746k' '203k' '26k' '314k' '239k'
 '371k' '220k' '730k' '756k' '91k' '293k' '17k' '74k' '14k' '317k' '78k'
 '924k' '902k' '818k' '81k' '939k' '169k' '45k' '475k' '965k' '90M' '545k'
 '61k' '283k' '655k' '714k' '93k' '872k' '121k' '322k' '1.0M' '976k'
 '172k' '238k' '549k' '206k' '954k' '444k' '717k' '210k' '609k' '308k'
 '705k' '306k' '904k' '473k' '175k' '350k' '383k' '454k' '421k' '70k'
 '812k' '442k' '842k' '417k' '412k' '459k' '478k' '335k' '782k' '721k'
 '430k' '429k' '192k' '200k' '460k' '728k' '496k' '816k' '414k' '506k'
 '887k' '613k' '243k' '569k' '778k' '683k' '592k' '319k' '186k' '840k'
 '647k' '191k' '373k' '437k' '598k' '716k' '585k' '982k' '222k' '219k'
 '55k' '948k' '323k' '691k' '511k' '951k' '963k' '25k' '554k' '351k' '27k'
 '82k' '208k' '913k' '514k' '551k' '29k' '103k' '898k' '743k' '116k'
 '153k' '209k' '353k' '499k' '173k' '597k' '809k' '122k' '411k' '400k'
 '801k' '787k' '237k' '50k' '643k' '986k' '97k' '516k' '837k' '780k'
 '961k' '269k' '20k' '498k' '600k' '749k' '642k' '881k' '72k' '656k'
 '601k' '221k' '228k' '108k' '940k' '176k' '33k' '663k' '34k' '942k'
 '259k' '164k' '458k' '245k' '629k' '28k' '288k' '775k' '785k' '636k'
 '916k' '994k' '309k' '485k' '914k' '903k' '608k' '500k' '54k' '562k'
 '847k' '957k' '688k' '811k' '270k' '48k' '329k' '523k' '921k' '874k'
 '981k' '784k' '280k' '24k' '518k' '754k' '892k' '154k' '860k' '364k'
 '387k' '626k' '161k' '879k' '39k' '970k' '170k' '141k' '160k' '144k'
 '143k' '190k' '376k' '193k' '246k' '73k' '658k' '992k' '253k' '420k'
 '404k' '470k' '226k' '240k' '89k' '234k' '257k' '861k' '467k' '157k'
 '44k' '676k' '67k' '552k' '885k' '1020k' '582k' '619k']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9145 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9145 non-null   object
 1   Category        9145 non-null   object
 2   Rating          7729 non-null   float64
 3   Reviews         9145 non-null   object
 4   Size            9145 non-null   object
 5   Installs        9145 non-null   object
 6   Type            9145 non-null   object
 7   Price           9145 non-null   object
 8   Content Rating  9145 non-null   object
 9   Genres          9145 non-null   object
 10  Last Updated    9145 non-null   object
 11  Current Ver     9137 non-null   object
 12  Android Ver     9143 non-null   object
dtypes: float64(1), object(12)
memory usage: 1000.2+ KB

In [20]:
df["Size"] = df["Size"].str.replace('M','000000')
df["Size"] = df["Size"].str.replace('k', '000')
print(df["Size"].unique())

['19000000' '14000000' '8.7000000' '25000000' '2.8000000' '5.6000000'
 '29000000' '33000000' '3.1000000' '28000000' '12000000' '20000000'
 '21000000' '37000000' '2.7000000' '5.5000000' '17000000' '39000000'
 '31000000' '4.2000000' '7.0000000' '23000000' '6.0000000' '6.1000000'
 '4.6000000' '9.2000000' '5.2000000' '11000000' '24000000' '9.4000000'
 '15000000' '10000000' '1.2000000' '26000000' '8.0000000' '7.9000000'
 '56000000' '57000000' '35000000' '54000000' '201000' '3.6000000'
 '5.7000000' '8.6000000' '2.4000000' '27000000' '2.5000000' '16000000'
 '3.4000000' '8.9000000' '3.9000000' '2.9000000' '38000000' '32000000'
 '5.4000000' '18000000' '1.1000000' '2.2000000' '4.5000000' '9.8000000'
 '52000000' '9.0000000' '6.7000000' '30000000' '2.6000000' '7.1000000'
 '3.7000000' '22000000' '7.4000000' '6.4000000' '3.2000000' '8.2000000'
 '9.9000000' '4.9000000' '9.5000000' '5.0000000' '5.9000000' '13000000'
 '73000000' '6.8000000' '3.5000000' '4.0000000' '2.3000000' '7.2000000'
 '2.1000000' '42000000' '7.3000000' '9.1000000' '55000000' '23000'
 '6.5000000' '1.5000000' '7.5000000' '51000000' '41000000' '48000000'
 '8.5000000' '46000000' '8.3000000' '4.3000000' '4.7000000' '3.3000000'
 '40000000' '7.8000000' '8.8000000' '6.6000000' '5.1000000' '61000000'
 '66000000' '79000' '8.4000000' '118000' '44000000' '695000' '1.6000000'
 '6.2000000' '18000' '53000000' '1.4000000' '3.0000000' '5.8000000'
 '3.8000000' '9.6000000' '45000000' '63000000' '49000000' '77000000'
 '4.4000000' '4.8000000' '70000000' '6.9000000' '9.3000000' '10.0000000'
 '8.1000000' '36000000' '84000000' '97000000' '2.0000000' '1.9000000'
 '1.8000000' '5.3000000' '47000000' '556000' '526000' '76000000'
 '7.6000000' '59000000' '9.7000000' '78000000' '72000000' '43000000'
 '7.7000000' '6.3000000' '334000' '34000000' '93000000' '65000000'
 '79000000' '100000000' '58000000' '50000000' '68000000' '64000000'
 '67000000' '60000000' '94000000' '232000' '99000000' '624000' '95000000'
 '8.5000' '41000' '292000' '11000' '80000000' '1.7000000' '74000000'
 '62000000' '69000000' '75000000' '98000000' '85000000' '82000000'
 '96000000' '87000000' '71000000' '86000000' '91000000' '81000000'
 '92000000' '83000000' '88000000' '704000' '862000' '899000' '378000'
 '266000' '375000' '1.3000000' '975000' '980000' '4.1000000' '89000000'
 '696000' '544000' '525000' '920000' '779000' '853000' '720000' '713000'
 '772000' '318000' '58000' '241000' '196000' '857000' '51000' '953000'
 '865000' '251000' '930000' '540000' '313000' '746000' '203000' '26000'
 '314000' '239000' '371000' '220000' '730000' '756000' '91000' '293000'
 '17000' '74000' '14000' '317000' '78000' '924000' '902000' '818000'
 '81000' '939000' '169000' '45000' '475000' '965000' '90000000' '545000'
 '61000' '283000' '655000' '714000' '93000' '872000' '121000' '322000'
 '1.0000000' '976000' '172000' '238000' '549000' '206000' '954000'
 '444000' '717000' '210000' '609000' '308000' '705000' '306000' '904000'
 '473000' '175000' '350000' '383000' '454000' '421000' '70000' '812000'
 '442000' '842000' '417000' '412000' '459000' '478000' '335000' '782000'
 '721000' '430000' '429000' '192000' '200000' '460000' '728000' '496000'
 '816000' '414000' '506000' '887000' '613000' '243000' '569000' '778000'
 '683000' '592000' '319000' '186000' '840000' '647000' '191000' '373000'
 '437000' '598000' '716000' '585000' '982000' '222000' '219000' '55000'
 '948000' '323000' '691000' '511000' '951000' '963000' '25000' '554000'
 '351000' '27000' '82000' '208000' '913000' '514000' '551000' '29000'
 '103000' '898000' '743000' '116000' '153000' '209000' '353000' '499000'
 '173000' '597000' '809000' '122000' '411000' '400000' '801000' '787000'
 '237000' '50000' '643000' '986000' '97000' '516000' '837000' '780000'
 '961000' '269000' '20000' '498000' '600000' '749000' '642000' '881000'
 '72000' '656000' '601000' '221000' '228000' '108000' '940000' '176000'
 '33000' '663000' '34000' '942000' '259000' '164000' '458000' '245000'
 '629000' '28000' '288000' '775000' '785000' '636000' '916000' '994000'
 '309000' '485000' '914000' '903000' '608000' '500000' '54000' '562000'
 '847000' '957000' '688000' '811000' '270000' '48000' '329000' '523000'
 '921000' '874000' '981000' '784000' '280000' '24000' '518000' '754000'
 '892000' '154000' '860000' '364000' '387000' '626000' '161000' '879000'
 '39000' '970000' '170000' '141000' '160000' '144000' '143000' '190000'
 '376000' '193000' '246000' '73000' '658000' '992000' '253000' '420000'
 '404000' '470000' '226000' '240000' '89000' '234000' '257000' '861000'
 '467000' '157000' '44000' '676000' '67000' '552000' '885000' '1020000'
 '582000' '619000']

In [21]:
df['Size'] = df['Size'].apply(lambda x: x[:-1] if '.' in x else x)
df["Size"] = df["Size"].str.replace('.', '')
print(df["Size"].unique())

['19000000' '14000000' '8700000' '25000000' '2800000' '5600000' '29000000'
 '33000000' '3100000' '28000000' '12000000' '20000000' '21000000'
 '37000000' '2700000' '5500000' '17000000' '39000000' '31000000' '4200000'
 '7000000' '23000000' '6000000' '6100000' '4600000' '9200000' '5200000'
 '11000000' '24000000' '9400000' '15000000' '10000000' '1200000'
 '26000000' '8000000' '7900000' '56000000' '57000000' '35000000'
 '54000000' '201000' '3600000' '5700000' '8600000' '2400000' '27000000'
 '2500000' '16000000' '3400000' '8900000' '3900000' '2900000' '38000000'
 '32000000' '5400000' '18000000' '1100000' '2200000' '4500000' '9800000'
 '52000000' '9000000' '6700000' '30000000' '2600000' '7100000' '3700000'
 '22000000' '7400000' '6400000' '3200000' '8200000' '9900000' '4900000'
 '9500000' '5000000' '5900000' '13000000' '73000000' '6800000' '3500000'
 '4000000' '2300000' '7200000' '2100000' '42000000' '7300000' '9100000'
 '55000000' '23000' '6500000' '1500000' '7500000' '51000000' '41000000'
 '48000000' '8500000' '46000000' '8300000' '4300000' '4700000' '3300000'
 '40000000' '7800000' '8800000' '6600000' '5100000' '61000000' '66000000'
 '79000' '8400000' '118000' '44000000' '695000' '1600000' '6200000'
 '18000' '53000000' '1400000' '3000000' '5800000' '3800000' '9600000'
 '45000000' '63000000' '49000000' '77000000' '4400000' '4800000'
 '70000000' '6900000' '9300000' '8100000' '36000000' '84000000' '97000000'
 '2000000' '1900000' '1800000' '5300000' '47000000' '556000' '526000'
 '76000000' '7600000' '59000000' '9700000' '78000000' '72000000'
 '43000000' '7700000' '6300000' '334000' '34000000' '93000000' '65000000'
 '79000000' '100000000' '58000000' '50000000' '68000000' '64000000'
 '67000000' '60000000' '94000000' '232000' '99000000' '624000' '95000000'
 '8500' '41000' '292000' '11000' '80000000' '1700000' '74000000'
 '62000000' '69000000' '75000000' '98000000' '85000000' '82000000'
 '96000000' '87000000' '71000000' '86000000' '91000000' '81000000'
 '92000000' '83000000' '88000000' '704000' '862000' '899000' '378000'
 '266000' '375000' '1300000' '975000' '980000' '4100000' '89000000'
 '696000' '544000' '525000' '920000' '779000' '853000' '720000' '713000'
 '772000' '318000' '58000' '241000' '196000' '857000' '51000' '953000'
 '865000' '251000' '930000' '540000' '313000' '746000' '203000' '26000'
 '314000' '239000' '371000' '220000' '730000' '756000' '91000' '293000'
 '17000' '74000' '14000' '317000' '78000' '924000' '902000' '818000'
 '81000' '939000' '169000' '45000' '475000' '965000' '90000000' '545000'
 '61000' '283000' '655000' '714000' '93000' '872000' '121000' '322000'
 '1000000' '976000' '172000' '238000' '549000' '206000' '954000' '444000'
 '717000' '210000' '609000' '308000' '705000' '306000' '904000' '473000'
 '175000' '350000' '383000' '454000' '421000' '70000' '812000' '442000'
 '842000' '417000' '412000' '459000' '478000' '335000' '782000' '721000'
 '430000' '429000' '192000' '200000' '460000' '728000' '496000' '816000'
 '414000' '506000' '887000' '613000' '243000' '569000' '778000' '683000'
 '592000' '319000' '186000' '840000' '647000' '191000' '373000' '437000'
 '598000' '716000' '585000' '982000' '222000' '219000' '55000' '948000'
 '323000' '691000' '511000' '951000' '963000' '25000' '554000' '351000'
 '27000' '82000' '208000' '913000' '514000' '551000' '29000' '103000'
 '898000' '743000' '116000' '153000' '209000' '353000' '499000' '173000'
 '597000' '809000' '122000' '411000' '400000' '801000' '787000' '237000'
 '50000' '643000' '986000' '97000' '516000' '837000' '780000' '961000'
 '269000' '20000' '498000' '600000' '749000' '642000' '881000' '72000'
 '656000' '601000' '221000' '228000' '108000' '940000' '176000' '33000'
 '663000' '34000' '942000' '259000' '164000' '458000' '245000' '629000'
 '28000' '288000' '775000' '785000' '636000' '916000' '994000' '309000'
 '485000' '914000' '903000' '608000' '500000' '54000' '562000' '847000'
 '957000' '688000' '811000' '270000' '48000' '329000' '523000' '921000'
 '874000' '981000' '784000' '280000' '24000' '518000' '754000' '892000'
 '154000' '860000' '364000' '387000' '626000' '161000' '879000' '39000'
 '970000' '170000' '141000' '160000' '144000' '143000' '190000' '376000'
 '193000' '246000' '73000' '658000' '992000' '253000' '420000' '404000'
 '470000' '226000' '240000' '89000' '234000' '257000' '861000' '467000'
 '157000' '44000' '676000' '67000' '552000' '885000' '1020000' '582000'
 '619000']

<ipython-input-21-f7babc91d58b>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Size"] = df["Size"].str.replace('.', '')

In [22]:
col_to_num("Size")

0        19000000
1        14000000
2         8700000
3        25000000
4         2800000
           ...
10835     9600000
10836    53000000
10837     3600000
10838     9500000
10840    19000000
Name: Size, Length: 9145, dtype: int64

#### Colonne "Installs"

In [23]:
df["Installs"] = df["Installs"].str.replace('+', '')
df["Installs"] = df["Installs"].str.replace(',', '')

<ipython-input-23-b040b1d5b663>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Installs"] = df["Installs"].str.replace('+', '')

In [24]:
col_to_num("Installs")

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10835          10
10836        5000
10837         100
10838        1000
10840    10000000
Name: Installs, Length: 9145, dtype: int64

#### Colonne "Price"

In [25]:
df["Price"] = df["Price"].str.replace('$', '')
print(df["Price"].unique())

['0' '4.99' '6.99' '1.49' '2.99' '3.99' '7.99' '5.99' '1.99' '9.99' '0.99'
 '9.00' '5.49' '10.00' '24.99' '11.99' '79.99' '16.99' '14.99' '1.00'
 '29.99' '12.99' '3.49' '10.99' '7.49' '1.50' '19.99' '15.99' '33.99'
 '74.99' '39.99' '2.49' '4.49' '1.70' '2.00' '3.88' '25.99' '399.99'
 '17.99' '400.00' '3.02' '1.76' '4.84' '4.77' '1.61' '1.59' '6.49' '1.29'
 '5.00' '13.99' '299.99' '379.99' '37.99' '18.99' '389.99' '19.90' '8.49'
 '1.75' '14.00' '4.85' '46.99' '109.99' '154.99' '3.08' '2.59' '4.80'
 '8.99' '1.96' '19.40' '15.46' '3.04' '4.29' '2.60' '3.28' '4.60' '28.99'
 '2.90' '1.97' '200.00' '89.99' '2.56' '30.99' '3.61' '394.99' '1.26'
 '1.20' '1.04']

<ipython-input-25-08613de77161>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Price"] = df["Price"].str.replace('$', '')

In [26]:
col_to_num("Price")

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10835    0.0
10836    0.0
10837    0.0
10838    0.0
10840    0.0
Name: Price, Length: 9145, dtype: float64

#### Colonne "Reviews"

In [27]:
print(df["Reviews"].unique())

['159' '967' '87510' ... '603' '1195' '398307']

In [28]:
col_to_num("Reviews")

0           159
1           967
2         87510
3        215644
4           967
          ...
10835         0
10836        38
10837         4
10838         3
10840    398307
Name: Reviews, Length: 9145, dtype: int64

# Transformation des colonnes textuelles en code numérique

In [29]:
def dict_from_cat(col):
  return {valeur_unique: indice for indice, valeur_unique in enumerate(df[col].unique())}

In [30]:
def dict_to_float(col, dictionary):
  df[col] = df[col].map(dictionary)
  col_to_num(col)

#### Colonne "Category"

In [31]:
df["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [32]:
df = df.assign(codeCategory=df['Category'])

In [33]:
dict_category = dict_from_cat("codeCategory")
dict_to_float("codeCategory", dict_category)

0         0
1         0
2         0
3         0
4         0
         ..
10835     4
10836    18
10837    18
10838    19
10840    16
Name: codeCategory, Length: 9145, dtype: int64

#### Colonne "Content Rating"

In [34]:
df["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [35]:
df = df.assign(codeContentRating=df['Content Rating'])

In [36]:
dict_contentRating = dict_from_cat("codeContentRating")
dict_to_float("codeContentRating", dict_contentRating)

0        0
1        0
2        0
3        1
4        0
        ..
10835    0
10836    0
10837    0
10838    0
10840    0
Name: codeContentRating, Length: 9145, dtype: int64

In [37]:
df["codeContentRating"].unique()

array([0, 1, 2, 3, 4, 5])

#### Colonne "Genres"
Probleme, cette colonne contient plusieurs infos, on va donc la split en 2 colonnes avant de la passée en valeurs numériques

In [38]:
df[["Genres", "GenreSecondaire"]] = df["Genres"].str.split(";", expand=True)
df = df.rename(columns={"Genres" : "GenrePrincipal"})
df["GenreSecondaire"]

0                None
1        Pretend Play
2                None
3                None
4          Creativity
             ...
10835            None
10836            None
10837            None
10838            None
10840            None
Name: GenreSecondaire, Length: 9145, dtype: object

In [39]:
df['GenreSecondaire'] = df['GenreSecondaire'].fillna('Aucun')

In [40]:
df = df.assign(codeGenreSecondaire=df['GenreSecondaire'])
df = df.assign(codeGenrePrincipal=df['GenrePrincipal'])

df['codeGenrePrincipal']

0        Art & Design
1        Art & Design
2        Art & Design
3        Art & Design
4        Art & Design
             ...
10835        Business
10836       Education
10837       Education
10838         Medical
10840       Lifestyle
Name: codeGenrePrincipal, Length: 9145, dtype: object

##### Genre Principal

In [41]:
dict_genrePrincipal = dict_from_cat("codeGenrePrincipal")
dict_to_float("codeGenrePrincipal", dict_genrePrincipal)

0         0
1         0
2         0
3         0
4         0
         ..
10835     4
10836     8
10837     8
10838    35
10840    16
Name: codeGenrePrincipal, Length: 9145, dtype: int64

##### Genre secondaire

In [42]:
dict_genreSecondaire = dict_from_cat("codeGenreSecondaire")
dict_to_float("codeGenreSecondaire", dict_genreSecondaire)

0        0
1        1
2        0
3        0
4        2
        ..
10835    0
10836    0
10837    0
10838    0
10840    0
Name: codeGenreSecondaire, Length: 9145, dtype: int64

### Conversion colonne date

In [43]:
#df['Last Updated'] = df['Last Updated'].str.replace(' [0-9]+,', '', regex=True)
df["Last Updated"].unique()
df["Last Updated"] = df["Last Updated"].replace('1.0.19', 'NaN')
df['Last Updated'] = pd.to_datetime(df['Last Updated'], format='%B %d, %Y')
df["Last Updated"].dt.date

0        2018-01-07
1        2018-01-15
2        2018-08-01
3        2018-06-08
4        2018-06-20
            ...
10835    2016-09-29
10836    2017-07-25
10837    2018-07-06
10838    2017-01-20
10840    2018-07-25
Name: Last Updated, Length: 9145, dtype: object

# Nettoyage final

### retrait des colonnes abandonnées

In [44]:
df = df.drop(columns=["Type", "Current Ver", "Android Ver"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9145 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   App                  9145 non-null   object
 1   Category             9145 non-null   object
 2   Rating               7729 non-null   float64
 3   Reviews              9145 non-null   int64
 4   Size                 9145 non-null   int64
 5   Installs             9145 non-null   int64
 6   Price                9145 non-null   float64
 7   Content Rating       9145 non-null   object
 8   GenrePrincipal       9145 non-null   object
 9   Last Updated         9145 non-null   datetime64[ns]
 10  codeCategory         9145 non-null   int64
 11  codeContentRating    9145 non-null   int64
 12  GenreSecondaire      9145 non-null   object
 13  codeGenreSecondaire  9145 non-null   int64
 14  codeGenrePrincipal   9145 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(5)
memory usage: 1.1+ MB

### Retrait des NA

In [45]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7729 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   App                  7729 non-null   object
 1   Category             7729 non-null   object
 2   Rating               7729 non-null   float64
 3   Reviews              7729 non-null   int64
 4   Size                 7729 non-null   int64
 5   Installs             7729 non-null   int64
 6   Price                7729 non-null   float64
 7   Content Rating       7729 non-null   object
 8   GenrePrincipal       7729 non-null   object
 9   Last Updated         7729 non-null   datetime64[ns]
 10  codeCategory         7729 non-null   int64
 11  codeContentRating    7729 non-null   int64
 12  GenreSecondaire      7729 non-null   object
 13  codeGenreSecondaire  7729 non-null   int64
 14  codeGenrePrincipal   7729 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(5)
memory usage: 966.1+ KB

### retrait des applications a but non commercial (càd très peu téléchargées)

In [46]:
df["Installs"] = np.where(df["Installs"] < 1000, np.nan, df["Installs"])
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7094 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   App                  7094 non-null   object
 1   Category             7094 non-null   object
 2   Rating               7094 non-null   float64
 3   Reviews              7094 non-null   int64
 4   Size                 7094 non-null   int64
 5   Installs             7094 non-null   float64
 6   Price                7094 non-null   float64
 7   Content Rating       7094 non-null   object
 8   GenrePrincipal       7094 non-null   object
 9   Last Updated         7094 non-null   datetime64[ns]
 10  codeCategory         7094 non-null   int64
 11  codeContentRating    7094 non-null   int64
 12  GenreSecondaire      7094 non-null   object
 13  codeGenreSecondaire  7094 non-null   int64
 14  codeGenrePrincipal   7094 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(5)
memory usage: 886.8+ KB

<ipython-input-46-61fa59f9b95b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Installs"] = np.where(df["Installs"] < 1000, np.nan, df["Installs"])

# Création du fichier final

In [48]:
df.to_csv("clean_dataset_googleplaystore.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7094 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   App                  7094 non-null   object
 1   Category             7094 non-null   object
 2   Rating               7094 non-null   float64
 3   Reviews              7094 non-null   int64
 4   Size                 7094 non-null   int64
 5   Installs             7094 non-null   float64
 6   Price                7094 non-null   float64
 7   Content Rating       7094 non-null   object
 8   GenrePrincipal       7094 non-null   object
 9   Last Updated         7094 non-null   datetime64[ns]
 10  codeCategory         7094 non-null   int64
 11  codeContentRating    7094 non-null   int64
 12  GenreSecondaire      7094 non-null   object
 13  codeGenreSecondaire  7094 non-null   int64
 14  codeGenrePrincipal   7094 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(5)
memory usage: 886.8+ KB